streamlit
joblib
numpy
pandas
scikit-learn
requests
beautifulsoup4
lxml
textblob
plotly
matplotlib
seaborn
Pillow
google-generativeai
duckduckgo-search
rich
scipy
toml
tornado
typing-extensions
tzdata
urllib3
validators
watchdog
